/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Banner Web */
.banner {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}


/* Video MP4 */
video {
    width: 100%;
}

/* Audio MP3 */
audio {
    width: 100%;
}


/* Formulario de Suscripción */
.subscribe-form {
    text-align: center;
    margin: 20px auto;
}

.subscribe-form h2 {
    margin-bottom: 20px;
}

.subscribe-form input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.subscribe-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Microinteracciones */
.microinteractions {
    text-align: center;
}

.microinteractions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 10px;
}

/* Botón Scroll Top */
.scrolltop-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Botones */
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

.buttons button {
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    background-color: #007bff; 
    color: white; 
    font-size: 16px;
    cursor: pointer;
    transition: box-shadow 0.3s; 
}


.buttons button:active {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
}

/* Media queries para dispositivos móviles */
@media only screen and (max-width: 360px) {
    .banner h1 {
        font-size: 20px;
    }
    .banner p {
        font-size: 14px;
    }
}
